<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.rosehulman.roseperks"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="edu.rosehulman.roseperks.AutoLoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.rosehulman.roseperks.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.rosehulman.roseperks.MainScreenActivity"
            android:label="@string/title_activity_main_screen" >
        </activity>
        <activity
            android:name="edu.rosehulman.roseperks.PerksListView"
            android:label="@string/title_activity_perks_list"
            android:parentActivityName="edu.rosehulman.roseperks.MainScreenActivity" >
        </activity>
        <activity
            android:name="edu.rosehulman.roseperks.ContactDialogView"
            android:label="@string/help_title"
            android:theme="@android:style/Theme.Dialog">
            
        </activity>
        <activity
            android:name="edu.rosehulman.roseperks.RestaurantListView"
            android:label="@string/title_activity_restaurant_list"
            android:parentActivityName="edu.rosehulman.roseperks.CategoryListActivity" >
        </activity>
        <activity
            android:name="edu.rosehulman.roseperks.EntertainmentListView"
            android:label="@string/title_activity_entertainment_list"
            android:parentActivityName="edu.rosehulman.roseperks.CategoryListActivity" >
        </activity>
        <activity
            android:name="edu.rosehulman.roseperks.HotelListView"
            android:label="@string/title_activity_hotel_list"
            android:parentActivityName="edu.rosehulman.roseperks.CategoryListActivity" >
        </activity>
        <activity
            android:name="edu.rosehulman.roseperks.BankingListView"
            android:label="@string/title_activity_banking_list"
            android:parentActivityName="edu.rosehulman.roseperks.CategoryListActivity" >
        </activity>
        <activity
            android:name="edu.rosehulman.roseperks.StoresListView"
            android:label="@string/title_activity_stores_list"
            android:parentActivityName="edu.rosehulman.roseperks.CategoryListActivity" >
        </activity>
        <activity
            android:name="edu.rosehulman.roseperks.OtherListView"
            android:label="@string/title_activity_other_list"
            android:parentActivityName="edu.rosehulman.roseperks.CategoryListActivity" >
        </activity>
        <activity
            android:name="edu.rosehulman.roseperks.PerksDetailView"
            android:label="@string/title_activity_detail_list">
            
        </activity>
        <activity
            android:name="edu.rosehulman.roseperks.CategoryListActivity"
            android:label="@string/title_activity_categories"
            android:parentActivityName="edu.rosehulman.roseperks.MainScreenActivity" >
        </activity>
        <activity android:name="edu.rosehulman.roseperks.TestDatabaseActivity" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>